.navbar-nav .nav-link {
    color: rgb(244, 226, 67) !important;
}
.navbar-brand {
    color: white !important;
}
html {
    scroll-behavior: smooth;
}
body {
    padding-top: 56px;
    background-color: black;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.carousel-item img {
    width: 100%; 
    height: 770px; 
    object-fit: cover; 
}
.btn-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}
.btn-img-container img {
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}
.btn-img-container span {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.btn-img-container button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 265px;
    width: 200px;
}
.btn-img-container button:hover {
    background-color: rgb(244, 226, 67);
    color: black;
}
#movieDetails {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}
#movieDetailsPage {
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
#movieDetailsContent {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Resim ve Ã¶zet  arasÄ±ndaki boÅŸluk */
}
#moviePoster {
    width: 150px;
    height: auto;
    border-radius: 8px;
}/* Dropdown butonlarÄ±nÄ±n arka planÄ±nÄ± koyu, yazÄ±larÄ±nÄ± sarÄ± yap */
.navbar .dropdown-toggle {
background-color: #333 !important; /* Koyu arka plan */
color: rgb(244, 226, 67) !important; /* SarÄ± yazÄ± rengi */
border: none; /* Border'Ä± kaldÄ±r */
margin-right: 0px; /* Butonlar arasÄ±nda saÄŸ boÅŸluk */
}

.navbar .dropdown-menu {
background-color: #fffefe; /* Dropdown menÃ¼sÃ¼nÃ¼n arka planÄ±nÄ± koyu yap */
border: none; /* MenÃ¼ border'Ä±nÄ± kaldÄ±r */
}

.navbar .dropdown-item {
color: rgb(0, 0, 0) !important; /* Dropdown item'larÄ±n yazÄ± rengini sarÄ± yap */
}

.navbar .dropdown-item:hover {
background-color: rgb(244, 226, 67) !important; /* Hover durumunda arka plan sarÄ± */
color: rgb(255, 248, 248) !important; /* Hover'da yazÄ±yÄ± siyah yap */
}

/* Navbar'daki butonlar arasÄ±nda boÅŸluk eklemek iÃ§in */
.navbar .navbar-nav .nav-link {
margin-right: 15px; /* Butonlar arasÄ±nda boÅŸluk */
}

.navbar .btn-group {
margin-right: 15px; /* Dropdown butonlarÄ± arasÄ±na boÅŸluk eklemek iÃ§in */
}

