.navbar-nav .nav-link {
    color: rgb(244, 226, 67) !important;
}
.navbar-brand {
    color: white !important;
}
html {
    scroll-behavior: smooth;
}
body {
    padding-top: 56px;
    background-color: black;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.carousel-item img {
    width: 100%; 
    height: 770px; 
    object-fit: cover; 
}
.btn-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}
.btn-img-container img {
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}
.btn-img-container span {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.btn-img-container button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 265px;
    width: 200px;
}
.btn-img-container button:hover {
    background-color: rgb(244, 226, 67);
    color: black;
}
#movieDetails {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}
#movieDetailsPage {
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
#movieDetailsContent {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Resim ve özet  arasındaki boşluk */
}
#moviePoster {
    width: 150px;
    height: auto;
    border-radius: 8px;
}
.navbar .dropdown-toggle {
background-color: #333 !important; 
color: rgb(244, 226, 67) !important; 
border: none; 
margin-right: 0px; /* Butonlar arasında boşluk */
}

.navbar .dropdown-menu {
background-color: #fffefe; /* Dropdown menüsünün arka planını koyu yap */
border: none; /* MenÃ¼ border'Ä±nÄ± kaldÄ±r */
}

.navbar .dropdown-item {
color: rgb(0, 0, 0) !important; /* Dropdown item'ların yazı rengini siyah  yap */
}

.navbar .dropdown-item:hover {
background-color: rgb(244, 226, 67) !important; /* Hover durumunda arka plan sarı  */
color: rgb(7, 14, 74) !important; /* Hover'da siyah yap */
}

/* Navbar'daki butonlar arasında boşluklar eklemek*/
.navbar .navbar-nav .nav-link {
margin-right: 15px; /* Butonlar arasındaki boşluğu ayarlama */
}

.navbar .btn-group {
margin-right: 15px; /* Dropdown aralarına boşluk bırakma miktarı*/
}

/* Haftanın Enleri */
.weekly-highlights {
    text-align: left; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px; /* Öğeler arasındaki boşluk */
    padding: 20px 0; /* Kapsayıcıya padding ekle */
    color: white;  /* Tüm yazıları beyaz yap */
    padding-left: 80px;  /* Başlıkla sola olan mesafeyi ayarlayabilirsiniz */
    }

.weekly-highlights .highlight-container {
    display: flex;
    flex-wrap: flex-start ;  /* Öğeleri birden fazla satıra sar */
    justify-content: space-evenly; /* Öğeler arasındaki boşluğu eşit yap */
    gap: 20px; /* Öğeler arasındaki boşluğu ayarlama */
    width: 100%;
}

/* Butonların ve resimlerin genişliğini ve hizalamasını ayarlayalım */
.weekly-highlights .btn-img-container button {
    width: 200px !important;  /* Buton genişliği */
    height: 240px !important; /* Buton yüksekliği */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc; /* Butonun etrafında sınır */
    border-radius: 8px; /* Kenarları yuvarlat */
    overflow: hidden; /* Resim dışına taşan kısmı gizle */
    color: white;  /* Butonlardaki yazıyı beyaz yap */
}

/* Resimlerin boyutunu ayarlama */
.weekly-highlights .btn-img-container img {
    width: 100% !important;  /* Resmin genişliğini kapsayıcıya göre ayarla */
    max-width: 150px !important;  /* Resmin genişliğini 150px ile sınırlama */
    height: auto !important; /* Yüksekliği orantılı olarak ayarla */
    object-fit: cover !important; /* Resmi kapsayıcıya uygun şekilde yerleştir */
}
